SERVICE_HOST=localhost
SERVICE_PORT=8080

GOOSE_DRIVER=postgres
GOOSE_DBSTRING="host=localhost user=root password=password dbname=subscriptions_service port=5432 sslmode=disable"
GOOSE_MIGRATION_DIR=migrations

DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=password
DB_NAME=subscriptions_service
